.item-1 {
  background-color: rgba(255, 254, 255, 0.8);
  grid-area: item1;
  height: 100%;
}
.item-2 {
  background-color: rgba(255, 254, 255, 0.8);
  grid-area: item2;
  height: 250px;
}
.item-3 {
  background-color: rgba(255, 254, 255, 0.8);
  grid-area: item3;
  height: 250px;
}
.item-4 {
  background-color: rgba(255, 254, 255, 0.8);
  grid-area: item4;
  height: 100px;
}
.item-5 {
  background-color: rgba(255, 254, 255, 0.8);
  grid-area: item5;
  height: 100px;
}
.item-6 {
  background-color: rgba(255, 254, 255, 0.8);
  grid-area: item6;
  height: 250px;
}
.item-7 {
  background-color: rgba(255, 254, 255, 0.8);
  grid-area: item7;
  height: 250px;
}
.item-8 {
  background-color: rgba(255, 254, 255, 0.8);
  grid-area: item8;
  height: 250px;
}
.grid-container {
  grid-gap: 20px;
  grid-template-areas:
    'item1 item1 item1 item1 item1 item2 item2 item3 item3'
    'item1 item1 item1 item1 item1 item4 item4 item5 item5'
    'item6 item6 item6 item7 item7 item7 item8 item8 item8';
  grid-template-columns: repeat(9, 1fr);
  display: grid;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
  .item-1 {
    background-color: rgba(255, 254, 255, 0.8);
    grid-area: item1;
    height: 250px;
  }

  .item-4, .item-5, .item-5, .item-6, .item-7, .item-8 {
    display: none;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

}